.icon-del:hover {background: url('/images/icons/icon-del-hover.png');}
.icon-fb:hover {background: url('/images/icons/icon-fb-hover.png');}
.icon-twitter:hover {background: url('/images/icons/icon-twitter-hover.png');}
.icon-yt:hover {background: url('/images/icons/icon-yt-hover.png');}