.icon-be {width: 20px; height: 20px; background: url('/images/icons/icon-be.png');}
.icon-dirrible {width: 20px; height: 20px; background: url('/images/icons/icon-dirrible.png');}
.icon-down {width: 7px; height: 10px; background: url('/images/icons/icon-down.png');}
.icon-enter-alt {width: 14px; height: 10px; background: url('/images/icons/icon-enter-alt.png');}
.icon-enter {width: 14px; height: 10px; background: url('/images/icons/icon-enter.png');}
.icon-fb {width: 20px; height: 20px; background: url('/images/icons/icon-fb.png');}
.icon-like {width: 14px; height: 13px; background: url('/images/icons/icon-like.png');}
.icon-next {width: 14px; height: 22px; background: url('/images/icons/icon-next.png');}
.icon-photo {width: 87px; height: 74px; background: url('/images/icons/icon-photo.png');}
.icon-prev {width: 14px; height: 22px; background: url('/images/icons/icon-prev.png');}
.icon-search {width: 13px; height: 14px; background: url('/images/icons/icon-search.png');}
.icon-settings {width: 87px; height: 74px; background: url('/images/icons/icon-settings.png');}
.icon-speed {width: 87px; height: 68px; background: url('/images/icons/icon-speed.png');}
.icon-twitter {width: 20px; height: 20px; background: url('/images/icons/icon-twitter.png');}
.icon-logo {width: 62px; height: 19px; background: url('/images/icons/logo.png');}